* {
  margin: 0;
  padding: 0; }

/**,
*::before,
*::after {
  box-sizing: inherit;
}*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: grey; }

body {
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  max-width: 90rem;
  margin: 8rem auto;
  background-color: #FFFFFF;
  box-shadow: 0px 2rem 6rem rgba(25, 50, 81, 0.203238);
  min-height: 100vh; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.heading-1 {
  font-size: 1.6rem;
  color: #193251;
  line-height: 2.4; }

h2 {
  font-size: 1.4rem;
  margin-left: 3rem; }

.btn {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 22.2rem; }
  .btn__big {
    width: 31.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    margin-right: 3rem;
    margin-left: 3rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    border-style: none; }
  .btn__medium {
    width: 20rem;
    margin-right: 8.8rem;
    margin-left: 8.8rem; }
  .btn__small {
    width: 15.2rem; }
  .btn__extrasmall {
    height: 2rem;
    border-radius: 4px;
    border: none;
    border-style: none;
    padding: 1% 3%;
    color: white;
    margin-bottom: 3.1rem; }

.minibtncontainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem; }

.btn-orange {
  background-color: #FF5A36; }

.btn-mediumorange {
  background-color: #FF9C86; }

.btn-lightorange {
  background-color: #FF9C86;
  color: #FF5A36; }

.btn-verylightorange {
  background-color: #FFDED7;
  color: #FF5A36; }

.btn-blue {
  background-color: #193251;
  margin-right: 1rem; }

.rateenergy_header {
  margin-bottom: 1.1rem; }

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 0.2rem 1.1rem rgba(25, 50, 81, 0.203238);
  border-radius: 1rem;
  position: absolute;
  width: 335px;
  height: 44px;
  left: 20px;
  bottom: 2rem;
  /*&__image {
        height: 6vh;
    }*/
  /*& a{   
   text-align: center;
    
   & img {
       width: 50%;
   }
}*/ }

.graph__container {
  margin-left: 3rem;
  width: 31.5rem;
  height: 20.8rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr) 0.8fr;
  grid-template-columns: 0.5fr repeat(5, 1fr);
  margin-bottom: 1.4rem; }

.graph__yaxis {
  display: flex;
  align-items: flex-end;
  font-family: 1.2rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #7589A2; }

.graph-yaxis {
  grid-column: 1; }

.graph-y1 {
  grid-row: 1; }

.graph-y2 {
  grid-row: 2; }

.graph-y3 {
  grid-row: 3; }

.graph-y4 {
  grid-row: 4; }

.graph-y5 {
  grid-row: 5; }

.bar {
  display: flex;
  justify-content: center;
  grid-row: 5;
  grid-row: span 5;
  background-size: auto auto;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 35px, rgba(117, 137, 162, 0.3) 35px, rgba(117, 137, 162, 0.3) 35.8px); }

.graph__barorange {
  background-color: #FF5A36;
  width: 1.2rem;
  border-radius: 15px 15px 0px 0px;
  margin-top: 40%; }

.graph__barblue {
  background-color: #193251;
  width: 1.2rem;
  border-radius: 15px 15px 0px 0px;
  margin-top: 40%; }

.bar-2 {
  margin-top: 75%; }

.bar-3 {
  margin-top: 110%; }

.bar-4 {
  margin-top: 85%; }

.bar-5 {
  margin-top: 70%; }

.bar-6 {
  margin-top: 150%; }

.bar-7 {
  margin-top: 200%; }

.bar-8 {
  margin-top: 170%; }

.bar-9 {
  margin-top: 240%; }

.bar-10 {
  margin-top: 260%; }

.graph__xaxis {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 1.2rem;
  color: #7589A2;
  font-size: 1.2rem;
  font-weight: 300; }

.graph__xaxis {
  grid-row: 6; }

.graph-x1 {
  grid-column: 2; }

.graph-x2 {
  grid-column: 3; }

.graph-x3 {
  grid-column: 4; }

.graph-x4 {
  grid-column: 5; }

.graph-x5 {
  grid-column: 6; }

.waves {
  text-align: center;
  overflow: hidden; }
  .waves__heading {
    background-color: #F8F8F8;
    padding-top: 3rem; }
  .waves svg {
    height: 6rem;
    width: 100%; }
  .waves path {
    stroke: none;
    fill: #f8f8f8; }

.container__test {
  padding: 10vw;
  background-color: white; }

.card {
  width: 315px;
  height: auto;
  padding: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, 3.5em);
  grid-template-rows: auto;
  justify-items: left;
  align-items: center;
  box-shadow: 0px 0.2rem 1.1rem rgba(25, 50, 81, 0.203238);
  border: 2px solid black; }
  .card__date {
    grid-column: span 10;
    grid-row: span 1;
    font-size: 14px; }

.card-grid {
  grid-column: span 10;
  grid-row: span 1; }

.card .card__startitle {
  grid-column: span 10;
  grid-row: span 1;
  color: #E0E4E8;
  font-size: 12px; }

.card__starcontainer {
  grid-column: span 10;
  grid-row: span 1; }

.card__star--imgblue {
  width: 25px;
  height: 24; }

.card__star--imggrey {
  width: 25px;
  height: 24; }

.card__rectangletitle {
  grid-column: span 10;
  grid-row: span 1;
  color: #e0e4e8;
  font-size: 12px; }

.card__rectanglecontainer {
  grid-column: span 10;
  grid-row: span 1; }

.card__rectangle--imgblue {
  width: 22px;
  height: 22px; }

.card__rectangle--imggrey {
  width: 22px;
  height: 22px; }

.card__mottotitle {
  grid-column: span 10;
  grid-row: span 1;
  color: #e0e4e8;
  font-size: 12px; }

.card__motto {
  grid-column: span 10;
  grid-row: span 1;
  font-size: 14px; }

.card__notetitle {
  grid-column: span 10;
  grid-row: span 1;
  color: #e0e4e8;
  font-size: 12px; }

.card__note {
  grid-column: span 10;
  grid-row: span 1;
  font-size: 14px;
  height: auto; }
