/////////////////////////////////////////////
// Colors
$primary-color: #193251;
$secondary-color: #7589A2;
$third-color: #E0E4E8;
$light-grey: #F8F8F8;
$white: #FFFFFF;

$btn-primary-orange: #FF5A36;
$btn-secondary-orange: #FF9C86;
$btn-third-orange: #FF9C86;
$btn-fourth-orange: #FFDED7;

$border-color-1: #E0E4E8;
$border-color-2: #7589A2;

$shadow-orange: 0px 2rem 6rem rgba(255, 90, 54, 0.4);
$shadow-grey: 0px 2rem 6rem rgba(25, 50, 81, 0.203238);



/////////////////////////////////////////////
// FONT VARIABLES

$semibold16: 1.6rem;
$semibold14: 1.4rem;
$regular12: 1.2rem;

/////////////////////////////////////////////
// Display größen
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px