.waves {
    text-align: center;
    overflow: hidden;
    position: relative;

    &__heading {        
        padding-top: 0.5rem;
        z-index: 100;
        position: absolute;
        top: 5px;
        width: 100%;
        text-align: center;
    }
   
    &__small {
        height: 8rem; 
        width: 100%;

    }

    &__big {
        height: 10rem;
        width: 100%;
    }

    & path {
        stroke: none; 
        fill: #f8f8f8;
    }
   
}


