main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  
   
    .buddy {
        margin: 2rem 0;
        position: relative;

        &__content {     
            display: flex;
            align-items: center;
            justify-content: center;
            width: 315px;
            height: 58px;
            
            background-color: $white;
            
        }
        
        &__content--title {
            margin-bottom: 2rem;
        }

        
    } 

    .buddy-image {
        position: absolute;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

    .one{
        border: 1px solid #E0E4E8;
        border-radius: .6rem .6rem 0 0;
        border-style: solid solid none solid;
    }

    .two{
        border: 1px solid #E0E4E8;
        border-radius: 0 0 .6rem .6rem;
    }

    .b-style {
            border: 1px solid #E0E4E8;           
            border-style: solid solid none solid;
    }
    
}