

.nav {
    display: flex;
    justify-content: center;
    
    
    &__image {  
        height: 2.4rem;
    }
}
    
.nav-bar {
    display: flex;    
    align-items: center;
    justify-content: space-around;
    position: fixed;    
    bottom: 1rem;
    

    width: 335px;
    height: 4.4rem;

    background-color: $white;
    box-shadow: $shadow-grey;
    border-radius: 1rem;
}