.heading-1 {
  font-size: $semibold16;
  color: $primary-color;
  line-height: 2.4;
}
h2 {
  font-size: $semibold16;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

span {
  font-size: $regular12;
  color: $secondary-color;
  font-weight: 400;
}
