.heading-1 {
  font-size: $semibold16;  
  line-height: 1.8;
}

.heading-2 {
  font-size: $semibold14;
}

.heading-3 {
  font-size: $semibold14;
  color: $secondary-color;
}

span{
  color: $secondary-color;
  font-size: $regular12;
}