.card {
  width: 315px;
  height: auto;
  padding: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: auto;
  justify-items: left;
  align-items: center;
  box-shadow: $shadow-grey;

  &__date {
    grid-column: span 10;
    grid-row: span 1;
    font-size: 14px;
  }
}

.card-grid {
  grid-column: span 10;
  grid-row: span 1;
}

.card-title {
  color: $third-color;
  font-size: 12px;
}

.card__starcontainer {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.card__star--imgblue {
  width: 25px;
  height: 24px;
}

.card__star--imggrey {
  width: 25px;
  height: 24px;
}

.card__rectangletitle {
}

.card__rectanglecontainer {
}

.card__rectangle--imgblue {
  width: 22px;
  height: 22px;
}

.card__rectangle--imggrey {
  width: 22px;
  height: 22px;
}

.card__mottotitle {
}

.card__motto {
  font-size: 14px;
}

.card__notetitle {
}

.card__note {
  font-size: 14px;
  height: auto;
}
