.journal {
  width: 315px;
  height: auto;
  padding: 30.42px 30px 88px 30px;
  display: grid;
  grid-template-columns: repeat(10, 31.5px);
  grid-template-rows: auto;

  &__date {
    width: 126px;
    height: 18px;
    margin-bottom: 30px;
  }

  &__startitle {
    width: 47px;
    height: 16px;
    margin-bottom: 12px;
  }

  &__starcontainer {
    margin-bottom: 23.54px;
    padding-left: 10px;
    padding-right: 39.25px;
    display: flex;
    justify-content: space-between;
  }

  &__star--imgblue {
    width: 35.75px;
    height: 34.46px;
  }

  &__star--imggrey {
    width: 36px;
    height: 35px;
  }

  &__rectangletitle {
    width: 112px;
    height: 16px;
    margin-bottom: 12px;
  }

  &__rectanglecontainer {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
  }

  &__rectangle--imggrey {
    width: 22px;
    height: 22px;
    border-radius: 4px;
  }

  &__rectangle--imgblue {
    width: 22px;
    height: 22px;
  }

  &__mottotitle {
    width: 45px;
    height: 16px;
    margin-bottom: 10px;
  }

  &__motto {
    width: 315px;
    height: 62px;
    margin-bottom: 20px;
    border: 1px solid $border-color-2;
    border-radius: 5px;
    font-size: $semibold16;
    resize: none;
  }

  &__notestitle {
    width: 44px;
    height: 16px;
    margin-bottom: 10px;
  }

  &__notes {
    width: 315px;
    height: 124px;
    margin-bottom: 30px;
    border: 1px solid $border-color-2;
    border-radius: 5px;
    font-size: $semibold16;
    resize: none;
  }
}

.journal-title {
  font-size: $semibold14;
}

.journal-grid {
  grid-column: span 10;
  grid-row: span 1;
}

.btn__transparent--small {
  width: 152px;
  height: 48px;
  margin-right: 11px;
  border: none;
  background-color: $white;
  grid-column: span 5;
  grid-row: span 1;
}

.btn__orange--small {
  width: 152px;
  height: 48px;
  border: none;
  background-color: $btn-primary-orange;
  grid-column: span 5;
  grid-row: span 1;
}

/*
with:
height:
margin:
border:
padding:
background-color:
color:
font-size:
grid-column:
grid-row:
display: flex;
justify-conent:
*/
