.card {
  width: 400px;
  height: 800px;
  display: grid;
  padding: 20px;
  background-color: blue;
}

.card__date {
}

.card__startitle {
}

.card__starcontainer {
}

.card__star--imgblue {
}

.card__star--imggrey {
}

.card__rectangletitle {
}

.card__rectanglecontainer {
}

.card__rectangle--imgblue {
}

.card__rectangle--imggrey {
}

.card__mottotitle {
}

.card__motto {
}

.card__notetitle {
}

.card__note {
}
