main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    .buddy {
        margin-bottom: 2rem;

        &__content {     
            display: flex;
            align-items: center;
            justify-content: center;
            width: 335px;
            height: 58px;
            
            background-color: $white;  
    
        }        
    } 

    .one{
        border: 1px solid #E0E4E8;
        border-radius: .6rem .6rem 0 0;
        border-style: solid solid none solid;
    }


    .two{
        border: 1px solid #E0E4E8;
        border-radius: 0 0 .6rem .6rem;
    }
}